<a href="https://colab.research.google.com/github/coding1035919-spec/ecofit-diary/blob/main/Copy_of_Tutorial_6_Files_%26_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# **TUTORIAL #6 - FILES & LIST**
<br/>

In this tutorial, we will be revise the main topics covered in files & lists.

> **Note:** *For a comprehensive understanding please refer to the materials on the LMS*


<br/>


### **Important** | Setup for the tutorial
---
Please run the code below to set up the files required for this lab

In [3]:
def makeAstroFile():
  f = open("astro.txt", "w")
  f.write("Star\nPlanet\nMoon\nSupernova\nPlanetary Nebulae\nBlack Hole")
  f.close()

makeAstroFile()

<br/>

## **#1. Files I/O in Python**
---

Reading from, and writing to file enhances the functionality of our programs as we are now able to have permanent storage as a feature.

### **1.1 Opening Files**



#### **Reading**
We can open a file for reading via the `open()` method, and then test if the file was properly loaded via the `read()` method.

In [4]:
f = open("astro.txt")
print(f.read())
f.close()

Star
Planet
Moon
Supernova
Planetary Nebulae
Black Hole

>**Note:** *test.txt is the name and extension of the file - and will work if the file is in the same directory as our code. If it is not, then we need to provide the pathname to the directory hosting the file we are trying to open.*

<br/>

#### **Writing** | Overwriting


We can open up the file for writing in a similar way - via the `open()` function - but then provide an extra parameter `"w"` - which will set the mode to write.

In [5]:
f2 = open("test2.txt","w")
f2.write("Hello at line 1\n")
f2.write("Goodbye at line 2")
f2.close()

# simple reading to double check
f2 = open("test2.txt")
print(f2.read())
f2.close()

Hello at line 1
Goodbye at line 2

We can see the effect of this by modifying the contents we write to the file (lines 2 & 3), and re-running the code to see the output in the file.

#### **Writing** | Appending

Opening a file for appending (mode parameter = `"a"`) will also open the file for reading, however, instead of overwriting the previous contents of the file (if it exists), it will simply add to (append) the end.

In [6]:
f2 = open("test3.txt","a")
f2.write("Hello at line 1\n")
f2.write("Goodbye at line 2\n")
f2.close()

# simple reading to double check
f2 = open("test3.txt")
print(f2.read())
f2.close()

Hello at line 1
Goodbye at line 2

At first glance this appears to do the same thing as writing, however, if you run the program a couple of times you'll notice that the file gets larger and larger - as more text is appended to the end of the file.

### **1.2 Reading Modes**
<br/>

There are three different reading modes to choose from when taking in data from a file - mostly due to the way we try to read the contents (e.g., all at once into a single string, all at once with each line as a list entry, a line at a time)

#### **`read()`**

We can use the `read()` method (as previously shown) to read all the contents of a file at once - into a String

In [7]:
makeAstroFile()

f = open("astro.txt")
s = f.read()
f.close()

print(type(s), "\n------") # print data type of read() return

print(s)  # print contents returned from read()

<class 'str'>
------
Star
Planet
Moon
Supernova
Planetary Nebulae
Black Hole

#### **`readlines()`**

We can use the `readlines()` method to read all the contents of a file at once - into a String

In [8]:
makeAstroFile()

f = open("astro.txt")
s = f.readlines()

print(type(s), "\n------") # print data type of read() return

print(s)  # print contents returned from read()

<class 'list'>
------
['Star\n', 'Planet\n', 'Moon\n', 'Supernova\n', 'Planetary Nebulae\n', 'Black Hole']

#### **`readline()`**

We can use the `readline()` method to read a single line in from the file.

In [9]:
makeAstroFile()

f = open("astro.txt")
s = f.readline()
f.close()

print(type(s), "\n------") # print data type of read() return

print(s)  # print contents returned from read()

<class 'str'>
------
Star

As we can see, it only reads one line in - so if we want to continue reading lines in we can do so but adding `readline()` into a loop

In [10]:
makeAstroFile()

f = open("astro.txt")

while True:
  s = f.readline()
  if s == "":
    break
  print(s)

f.close()

Star

Planet

Moon

Supernova

Planetary Nebulae

Black Hole

A much quicker way to accomplish this would be to use a `for` loop:

In [11]:
makeAstroFile()

f = open("astro.txt")

for s in f:
  print(s)

f.close()

Star

Planet

Moon

Supernova

Planetary Nebulae

Black Hole

#### **Stripping Whitespace**

As we can see, we get two new lines each time we try to print - as one comes from the file itself (the new line at the end of the line - as seen in the setup function at the top of the page, `makeAstroFile()`, where `\n` is used to insert this new line). The second newline comes from the `print()` function itself.

We can remove the newline character (as well as any other leading or trailing spaces) by using the `strip()` function on a string

In [12]:
makeAstroFile()

f = open("astro.txt")

for s in f:
  print(s.strip())

f.close()

Star
Planet
Moon
Supernova
Planetary Nebulae
Black Hole

## **#2. Lists**


Lists are a data structure that allow us to store multiple records in one variable, and access the contents via the index - i.e., the position in the list that the value occurs (starting from 0).

We have used lists a few times already in this course - including in the previous chapter where we opened a file using `readlines()`.

### **Basics**


We can set up a list by simply assigning a variable to a range of values:

In [13]:
my_list = [1, 4, 7, 3, 9, 27]

and print the list via

In [14]:
print(my_list)

[1, 4, 7, 3, 9, 27]

or print a specific value in the list via index

In [15]:
print(my_list[1])

4

>**Reminder:** *A list index starts at 0, so the index of 1 is actually the second element in the list*

### **Slicing**

##### **Between two values**

We can provide the lower and upper index that we wish to use data

In [16]:
print(my_list[2:4])

[7, 3]

##### **From start to X**

If we leave the first index number empty, it will begin at the start and count to the second index

In [17]:
print(my_list[:4])

[1, 4, 7, 3]

##### **From X to end**



If we leave the last number empty, it will start at the first number and go to the end

In [18]:
print(my_list[2:])

[7, 3, 9, 27]

### **List Manipulative Functions**

---
<br/>

We can use a variety of functions to manipulate the data in our list

#### **Add values**

We can add values via the `append()` method.

In [19]:
print(my_list)

my_list.append(99)
print(my_list)

[1, 4, 7, 3, 9, 27]
[1, 4, 7, 3, 9, 27, 99]

#### **Update Values**

We can update values by simply setting the index of the list to a new value

In [20]:
print(my_list)

my_list[1] = 11
print(my_list)

[1, 4, 7, 3, 9, 27, 99]
[1, 11, 7, 3, 9, 27, 99]

#### **Delete Values** | *via index*

We can delete values by their index via the `pop()` method

In [21]:
print(my_list)

my_list.pop(1)
print(my_list)

[1, 11, 7, 3, 9, 27, 99]
[1, 7, 3, 9, 27, 99]

#### **Delete Values** | *via value*

We can delete values by their index via the `remove()` method

In [22]:
print(my_list)

my_list.remove(99)
print(my_list)

[1, 7, 3, 9, 27, 99]
[1, 7, 3, 9, 27]

#### **Sort**

We can sort values in a list via the `sort()` method

In [23]:
print(my_list)

my_list.sort()
print(my_list)

[1, 7, 3, 9, 27]
[1, 3, 7, 9, 27]

<br/>


##  **#3.YOUR TURN**
---

### **Program #1 |** A Simple Student Class &nbsp; **<i>[EXTENDED]</i>**
---

Take the *Simple Student Class* tutorial from last week and paste your code below.

><table>
In this program we will create a simple student class and a few objects.
<br/><br/>

The student class should have the following:

**Properties**
* `name` the name of the student
* `marks` a list of final marks the student has been awarded


**Methods**
* `add_mark()` which takes a single value and adds it to the list of marks
* `calculate_GPA()` which gets the average from the list of marks
* `print_student()` which nicely prints a transcript for the student (name, marks, GPA)
></table>


<br/>

### **Your Task**


1.  Update the program to read in the data from `student_marks.txt` file (rather than the current data hard-coded in the program) into a List

2. From there, you need to calculate the GPA for each student, and then print to a new file (`GPA_List.txt`) each student's name alongside their associated GPA in descending order.

In [25]:
# Student Name:   Chandani Gupta
# Student Number: 1035919

# TODO: Insert code from simple student class from last week's tutorial here

# -----------------------------
# Student Class Definition
# -----------------------------
class Student:

    def __init__(self, name):
        self.name = name
        self.marks = []

    def add_mark(self, mark):
        self.marks.append(mark)

    def calculate_GPA(self):
        if len(self.marks) == 0:
            return 0
        return sum(self.marks) / len(self.marks)

    def print_student(self):
        print("Name:", self.name)
        print("Marks:", self.marks)
        print("GPA:", round(self.calculate_GPA(), 2))
        print("------------------")


# -----------------------------
# READ DATA FROM FILE
# -----------------------------
students = []

f = open("student_marks.txt", "r")

for line in f:
    line = line.strip()
    data = line.split(",")

    name = data[0]
    marks = data[1:]

    student = Student(name)

    for mark in marks:
        student.add_mark(int(mark))

    students.append(student)

f.close()


# -----------------------------
# SORT STUDENTS BY GPA (DESC)
# -----------------------------
students.sort(key=lambda s: s.calculate_GPA(), reverse=True)


# -----------------------------
# WRITE GPA LIST TO FILE
# -----------------------------
out = open("GPA_List.txt", "w")

for student in students:
    out.write(f"{student.name} : {round(student.calculate_GPA(), 2)}\n")

out.close()


# -----------------------------
# OPTIONAL: PRINT TO SCREEN
# -----------------------------
for student in students:
    student.print_student()

Name: Lucy
Marks: [85, 90, 88]
GPA: 87.67
------------------
Name: Chandani
Marks: [78, 82, 85]
GPA: 81.67
------------------
Name: Greg
Marks: [75, 80, 70]
GPA: 75.0
------------------
Name: Chris
Marks: [60, 65, 70]
GPA: 65.0
------------------

In [24]:
f = open("student_marks.txt", "w")
f.write(
    "Greg,75,80,70\n"
    "Lucy,85,90,88\n"
    "Chris,60,65,70\n"
    "Chandani,78,82,85"
)
f.close()

print("student_marks.txt file created successfully")

student_marks.txt file created successfully

<br/><BR/>

### **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for height and weight (you don't need to use your own if you do not want to) to get the output of BMI to show.
<br/><br/>
When you are ready to submit please go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.

Please save your file to GitHub via: `File` -> `Save a copy in GitHub`